.weather-app {
  color: #fff;
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid rgba(241, 239, 239, 0.521);
  border-radius: 10px;
  background-image: url(https://c1.wallpaperflare.com/preview/998/702/367/clouds-cumulus-cumulus-clouds-summer-day.jpg);
}

h1 {
  font-size: 45px;
  margin-top: 20px;
  margin-left: 25px;
}

#date {
  font-size: 15px;
  margin-left: 25px;
}

strong {
  font-size: 50px;
  margin-left: 25px;
}

#units {
  font-size: 15px;
  position: relative;
  bottom: 17px;
  font-weight: 600;
}

#weather-image {
  margin: 0 auto;
}

#description {
  font-size: 15px;
  margin-top: 10px;
  margin-left: 25px;
}

#description:first-letter {
  text-transform: capitalize;
}
.col {
  text-align: center;
}

img {
  position: relative;
  left: 180px;
  bottom: 10px;
}
#temp {
  margin-top: 10px;
}

#emoji {
  margin-top: 10px;
}

small {
  color: black;
  position: relative;
  left: -20px;
  top: 60px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  font-size: 16px;
  line-height: 19px;
  position: relative;
  left: 100px;
  bottom: 50px;
}
