.weather-app {
  color: #fff;
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid rgba(241, 239, 239, 0.521);
  border-radius: 10px;
  background-image: url(https://c1.wallpaperflare.com/preview/998/702/367/clouds-cumulus-cumulus-clouds-summer-day.jpg);
}

#search-form {
  margin-left: 20px;
}

h1 {
  font-size: 45px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 0;
}

#date {
  font-size: 15px;
}

.update {
  font-size: 15px;
  margin-left: 20px;
}

#temperature {
  font-size: 50px;
  /* margin-left: 25px; */
}

#units {
  font-size: 15px;
  font-weight: 600;
  position: relative;
  bottom: 25px;
}

.active {
  color: #fff;
  cursor: default;
}

.active:hover {
  color: #fff;
}

#icon {
  position: relative;
  bottom: 15px;
  width: 80px;
  height: 80px;
}

#description {
  font-size: 20px;
  margin-top: 5px;
  margin-left: 20px;
}

#description:first-letter {
  text-transform: capitalize;
}

#city-input {
  margin-top: 20px;
}

#submit-btn {
  margin-top: 20px;
}

.weather-forecast {
  text-align: center;
  font-size: 17px;
}

.weather-forecast-temperature-min {
  opacity: 0.7;
}

small {
  color: black;
  position: relative;
  left: -20px;
  top: 60px;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  /* line-height: 19px;
  position: relative;
  left: 120px;
  bottom: 70px; */
}
